USE [master]
GO
/****** Object:  Database [PRN292_Assignment]    Script Date: 3/25/2021 11:05:48 PM ******/
CREATE DATABASE [PRN292_Assignment]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PRN292_Assignment', FILENAME = N'D:\App\SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRN292_Assignment.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PRN292_Assignment_log', FILENAME = N'D:\App\SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\PRN292_Assignment_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PRN292_Assignment].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PRN292_Assignment]
GO
/****** Object:  Table [dbo].[tblOrderDetails]    Script Date: 3/25/2021 11:05:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrderDetails](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [varchar](100) NULL,
	[RoomID] [varchar](50) NULL,
	[Price] [float] NULL,
	[StartDate] [date] NULL,
	[EndDate] [date] NULL,
 CONSTRAINT [PK_tblOrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblOrders]    Script Date: 3/25/2021 11:05:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblOrders](
	[OrderID] [varchar](100) NOT NULL,
	[UserID] [varchar](100) NULL,
	[Date] [date] NULL,
	[Total] [float] NULL,
 CONSTRAINT [PK_tblOrders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRooms]    Script Date: 3/25/2021 11:05:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRooms](
	[RoomID] [varchar](50) NOT NULL,
	[RoomTypeID] [int] NULL,
	[Price] [float] NULL,
	[Image] [varchar](500) NULL,
	[Status] [bit] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
 CONSTRAINT [PK_tblRooms] PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRoomType]    Script Date: 3/25/2021 11:05:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRoomType](
	[RoomTypeID] [int] IDENTITY(1,1) NOT NULL,
	[RoomTypeName] [varchar](50) NULL,
	[People] [int] NULL,
 CONSTRAINT [PK_tblRoomType] PRIMARY KEY CLUSTERED 
(
	[RoomTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblServiceDetails]    Script Date: 3/25/2021 11:05:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblServiceDetails](
	[ServiceDetailID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceID] [int] NULL,
	[OrderDetailID] [int] NULL,
	[Price] [float] NULL,
 CONSTRAINT [PK_tblServiceDetails] PRIMARY KEY CLUSTERED 
(
	[ServiceDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblServices]    Script Date: 3/25/2021 11:05:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblServices](
	[ServiceID] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [varchar](50) NULL,
	[Price] [float] NULL,
	[Status] [bit] NULL,
 CONSTRAINT [PK_tblServices] PRIMARY KEY CLUSTERED 
(
	[ServiceID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUsers]    Script Date: 3/25/2021 11:05:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUsers](
	[UserID] [varchar](100) NOT NULL,
	[FullName] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[Phone] [varchar](15) NULL,
	[Email] [varchar](50) NULL,
	[IdentityCard] [varchar](20) NULL,
	[Gender] [varchar](10) NULL,
	[Address] [varchar](200) NULL,
	[Image] [varchar](500) NULL,
	[Role] [varchar](10) NULL,
	[Status] [bit] NULL,
	[CreatedDate] [date] NULL,
	[ModifiedDate] [date] NULL,
 CONSTRAINT [PK_tblUsers] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[tblRooms] ([RoomID], [RoomTypeID], [Price], [Image], [Status], [CreatedDate], [ModifiedDate]) VALUES (N'12', 5, 123, NULL, 0, CAST(N'2021-03-25' AS Date), CAST(N'2021-03-25' AS Date))
INSERT [dbo].[tblRooms] ([RoomID], [RoomTypeID], [Price], [Image], [Status], [CreatedDate], [ModifiedDate]) VALUES (N'P101', 1, 900, N'\Resources\Images\P101_132611617131743762.com__ (30)', 1, CAST(N'2021-03-24' AS Date), CAST(N'2021-03-25' AS Date))
INSERT [dbo].[tblRooms] ([RoomID], [RoomTypeID], [Price], [Image], [Status], [CreatedDate], [ModifiedDate]) VALUES (N'P102', 2, 1800, NULL, 1, CAST(N'2021-03-24' AS Date), NULL)
GO
SET IDENTITY_INSERT [dbo].[tblRoomType] ON 

INSERT [dbo].[tblRoomType] ([RoomTypeID], [RoomTypeName], [People]) VALUES (1, N'Single', 1)
INSERT [dbo].[tblRoomType] ([RoomTypeID], [RoomTypeName], [People]) VALUES (2, N'Double', 2)
INSERT [dbo].[tblRoomType] ([RoomTypeID], [RoomTypeName], [People]) VALUES (3, N'Queen', 4)
SET IDENTITY_INSERT [dbo].[tblRoomType] OFF
GO
INSERT [dbo].[tblUsers] ([UserID], [FullName], [Password], [Phone], [Email], [IdentityCard], [Gender], [Address], [Image], [Role], [Status], [CreatedDate], [ModifiedDate]) VALUES (N'test', N'Diamond Tester', N'1234566', N'1234567890', N'tester@gmail.com', N'123456789098', N'Male', N'Binh Duong', N'\Resources\Images\test_132610271142513201.jpg', N'admin', 1, CAST(N'2021-03-23' AS Date), CAST(N'2021-03-25' AS Date))
INSERT [dbo].[tblUsers] ([UserID], [FullName], [Password], [Phone], [Email], [IdentityCard], [Gender], [Address], [Image], [Role], [Status], [CreatedDate], [ModifiedDate]) VALUES (N'test1', N'Magie Tester', N'123', N'1234567890', N'magie@fpt.edu.vn', N'123456789098', N'Male', N'Ha noi', N'\Resources\Images\test1_132611112805851674.vn-hinh-nen-one-piece-anime-wallpaper-10', N'admin', 1, CAST(N'2021-03-23' AS Date), CAST(N'2021-03-25' AS Date))
INSERT [dbo].[tblUsers] ([UserID], [FullName], [Password], [Phone], [Email], [IdentityCard], [Gender], [Address], [Image], [Role], [Status], [CreatedDate], [ModifiedDate]) VALUES (N'test2', N'Argon Tester', N'123456', N'1234567890', N'argon@gmail.com', N'123456789098', N'Male', N'Da nang', N'\Resources\Images\test2_132610273433860459.jpg', N'admin', 1, CAST(N'2021-03-24' AS Date), CAST(N'2021-03-24' AS Date))
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UC_RoomTypeName]    Script Date: 3/25/2021 11:05:48 PM ******/
ALTER TABLE [dbo].[tblRoomType] ADD  CONSTRAINT [UC_RoomTypeName] UNIQUE NONCLUSTERED 
(
	[RoomTypeName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderDetails_tblOrders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[tblOrders] ([OrderID])
GO
ALTER TABLE [dbo].[tblOrderDetails] CHECK CONSTRAINT [FK_tblOrderDetails_tblOrders]
GO
ALTER TABLE [dbo].[tblOrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblOrderDetails_tblRooms] FOREIGN KEY([RoomID])
REFERENCES [dbo].[tblRooms] ([RoomID])
GO
ALTER TABLE [dbo].[tblOrderDetails] CHECK CONSTRAINT [FK_tblOrderDetails_tblRooms]
GO
ALTER TABLE [dbo].[tblOrders]  WITH CHECK ADD  CONSTRAINT [FK_tblOrders_tblUsers] FOREIGN KEY([UserID])
REFERENCES [dbo].[tblUsers] ([UserID])
GO
ALTER TABLE [dbo].[tblOrders] CHECK CONSTRAINT [FK_tblOrders_tblUsers]
GO
ALTER TABLE [dbo].[tblRooms]  WITH CHECK ADD  CONSTRAINT [FK_tblRooms_tblRoomType] FOREIGN KEY([RoomTypeID])
REFERENCES [dbo].[tblRoomType] ([RoomTypeID])
GO
ALTER TABLE [dbo].[tblRooms] CHECK CONSTRAINT [FK_tblRooms_tblRoomType]
GO
ALTER TABLE [dbo].[tblServiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblServiceDetails_tblOrderDetails] FOREIGN KEY([OrderDetailID])
REFERENCES [dbo].[tblOrderDetails] ([OrderDetailID])
GO
ALTER TABLE [dbo].[tblServiceDetails] CHECK CONSTRAINT [FK_tblServiceDetails_tblOrderDetails]
GO
ALTER TABLE [dbo].[tblServiceDetails]  WITH CHECK ADD  CONSTRAINT [FK_tblServiceDetails_tblServices] FOREIGN KEY([ServiceID])
REFERENCES [dbo].[tblServices] ([ServiceID])
GO
ALTER TABLE [dbo].[tblServiceDetails] CHECK CONSTRAINT [FK_tblServiceDetails_tblServices]
GO
/****** Object:  StoredProcedure [dbo].[spAddNewRoom]    Script Date: 3/25/2021 11:05:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spAddNewRoom]
(
	@roomID varchar(50),
	@roomTypeID int,
	@price float,
	@image varchar(500),
	@status bit,
	@createdDate date
)
As
	Insert tblRooms (RoomID,RoomTypeID,Price,Image,Status,CreatedDate)
	Values (@roomID,@roomTypeID,@price,@image,@status,@createdDate)
Return
GO
/****** Object:  StoredProcedure [dbo].[spAddNewRoomType]    Script Date: 3/25/2021 11:05:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[spAddNewRoomType]
(
	@roomTypeName varchar(50),
	@people int
)
As
	Insert tblRoomType(RoomTypeName, People)
	Values (@roomTypeName, @people)
Return
GO
/****** Object:  StoredProcedure [dbo].[spRegisterAccount]    Script Date: 3/25/2021 11:05:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE proc [dbo].[spRegisterAccount]
(
	@userID varchar(100),
	@fullName varchar(50),
	@password varchar(50),
	@phone varchar(15),
	@email varchar(50),
	@identityCard varchar(20),
	@gender varchar(10),
	@address varchar(200),
	@image varchar(500),
	@role varchar(10),
	@status bit,
	@createdDate date
)
As
	Insert tblUsers(UserID,FullName,Password,Phone,Email,IdentityCard,Gender,Address,Image,Role,Status,CreatedDate)
	Values(@userID,@fullName,@password,@phone,@email,@identityCard,@gender,@address,@image,@role,@status,@createdDate)
Return
GO
/****** Object:  StoredProcedure [dbo].[spUpdateAccount]    Script Date: 3/25/2021 11:05:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spUpdateAccount]
(
	@userID varchar(100),
	@fullName varchar(50),
	@password varchar(50),
	@phone varchar(15),
	@email varchar(50),
	@identityCard varchar(20),
	@gender varchar(10),
	@address varchar(200),
	@image varchar(500),
	@role varchar(10),
	@status bit,
	@modifiedDate date
)
As
	Update tblUsers 
	Set FullName=@fullName, Password=@password, Phone=@phone, Email=@email, IdentityCard=@identityCard,
		Gender=@gender, Address=@address, Image=@image, Role=@role, Status=@status, ModifiedDate=@modifiedDate
	Where UserID=@userID
Return
GO
/****** Object:  StoredProcedure [dbo].[spUpdateRoom]    Script Date: 3/25/2021 11:05:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spUpdateRoom]
(
	@roomID varchar(50),
	@roomTypeID int,
	@price float,
	@image varchar(500),
	@status bit,
	@modifiedDate date
)
As
	Update tblRooms Set RoomTypeID=@roomTypeID , Price=@price, Image=@image, Status=@status, ModifiedDate=@modifiedDate
	Where RoomID=@roomID
Return
GO
/****** Object:  StoredProcedure [dbo].[spUpdateRoomType]    Script Date: 3/25/2021 11:05:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[spUpdateRoomType]
(
	@roomTypeID int,
	@roomTypeName varchar(50),
	@people int
)
As
	Update tblRoomType Set RoomTypeName=@roomTypeName, People=@people
	Where RoomTypeID=@roomTypeID
Return
GO
/****** Object:  StoredProcedure [dbo].[spUpdateStatusAccount]    Script Date: 3/25/2021 11:05:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create proc [dbo].[spUpdateStatusAccount]
(
	@userID varchar(100),
	@status bit,
	@modifiedDate date
)
As
	Update tblUsers 
	Set Status=@status, ModifiedDate=@modifiedDate
	Where UserID=@userID
Return
GO
/****** Object:  StoredProcedure [dbo].[spUpdateStatusRoom]    Script Date: 3/25/2021 11:05:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[spUpdateStatusRoom]
(
	@roomID varchar(50),
	@status bit,
	@modifiedDate date
)
As
	Update tblRooms Set Status=@status, ModifiedDate=@modifiedDate
	Where RoomID=@roomID
Return
GO
USE [master]
GO
